# builds Ensamblador/
*.exe
*.obj
*.map

Lenguaje_Bajo_Nivel/Proy_Final/*.exe
Lenguaje_Bajo_Nivel/Proy_Final/*.obj
Lenguaje_Bajo_Nivel/Proy_Final/*.map

Lenguaje_Bajo_Nivel/Ensamblador/*.exe
Lenguaje_Bajo_Nivel/Ensamblador/*.obj
Lenguaje_Bajo_Nivel/Ensamblador/*.map